.container {
  display: flex;
  gap: 32px;
  margin-top: 24px;
  flex-direction: column;
}
.title {
  font-weight: 600;
  font-size: 28px;
}
/* NAV bên trái */
@media (min-width: 1024px) {
  .wrapper {
    align-items: flex-start;
  }
}

.content {
  flex: 1;
  min-width: 0;
  max-height: 1000px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
