.priceContainer {
  position: fixed; /* hoáº·c fixed */
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.priceInfo {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.priceAction {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 100px;
  gap: 20px;
}
.productName {
  font-size: 20px;
}

.currentPrice {
  font-size: 20px;
  font-weight: 700;
  color: #1d1d1f;
  margin-bottom: 4px;
}

.originalPrice {
  font-size: 14px;
  color: #86868b;
  text-decoration: line-through;
}

.buyButton {
  position: relative;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.buyButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #0071e3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.buyButton:hover::after {
  transform: scaleX(1);
}
.divider {
  width: 2px;
  height: 25px;
  background: #e5e5e5;
}
.shipping {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.originalPriceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.priceContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.discountPercent {
  font-weight: 600;
}
