.productWrapper {
  overflow: visible;
}

.productContainer {
  height: calc(100vh - 60px);
  display: flex;
  top: 60px;
  position: sticky;
  flex-direction: row;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: rgba(255, 0, 0, 0.1);
}

.productImage {
  flex: 1;

  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productImage::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.imageWrapper {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(241, 241, 241);
  border-radius: 25px;
}
.imageWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  border-radius: 5px;
}

.productImage::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.productInfo {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  gap: 300px;

  height: 100%;

  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 300px;
  padding-right: 30px;
  padding-left: 10px;
  position: relative;

  scroll-behavior: smooth;
}
.productInfo::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.title {
  text-align: center;
}
