/* .variantOption {
  margin-top: 32px;
} */

.title {
  font-size: 24px;
  margin-bottom: 40px;
}
.description {
  color: var(--kds-color--color);
}
.optionList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.optionItem {
  width: 100%;
  padding: 20px 20px;
  border-radius: 12px;
  border: 2px solid #d2d2d7;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.active {
  border: 2px solid #0071e3;
}

.storage {
  font-size: 16px;
  font-weight: 500;
}

.price {
  font-size: 14px;
  color: #555;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
