.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
.footerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.footerLink a {
  color: var(--kds-color--color);
  font-size: 13px;
  text-decoration: none;
}
